<h1>The StorQ</h1>

{{#if errors}}
<div style="color:red" class="validation-error">
    {{errors}}
</div>
{{/if}}

<div> <h3>Log In Form</h3>
    <form class="login-form" action="/user/login" method="POST">
        <label for="email">Email</label>
        <input name="email" type="text"><br>
        <label for="password">Password</label>
        <input name="password" type="text"><br>
        <input type="submit" class='log-in-submit'>
    </form>
</div>
<div><hr></div>


<div><h3>Registration Form</h3>
    <form action="/user/register" method="post" class="signup-form" style="display: block;">
      <input name="first" type="text" class="text-input" placeholder="First Name">
      <input name="last" type="text" class="text-input" placeholder="Last Name">
      <input name="email" type="email" class="text-input" placeholder="email">
      <input name="password" type="password" class="text-input" placeholder="password">
      <input name="password_confirmation" type="password" class="text-input" placeholder="password confirmation">
      <div>
        <button class="blue sign-up-submit">Sign Up</button>
      </div>
    </form>
</div>
