<head>
  <style>
    .btn-file {
      position: relative;
      overflow: hidden;
    }

    .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      background: red;
      cursor: inherit;
      display: block;
    }

    input[readonly] {
      background-color: white !important;
      cursor: text !important;
    }

  </style>
</head>

<div class="container">
  <h2>Build Your Profile!</h2>
  <p>Start building your profile here.  We'll use this information to match you with what you're looking for!</p>
  <form action="/user/profile" method="post" class="form-horizontal" >
    <div class="col-xs-3">
      <label for="role">Select what role you'd like to take</label>
      <select class="form-control" name="role">
        <option value="sperm">Sperm donor</option>
        <option value="egg">Egg donor</option>
        <option value="carrier">Gestational carrier</option>
        <option value="looking">Couple looking for a gestational carrier</option>
      </select>
      <br>
      <label for="educ">Select your education level</label>
      <select class="form-control" name="educ">
        <option value="some-hs">Some High School</option>
        <option value="hs-degree">High School Degree</option>
        <option value="some-college">Some College</option>
        <option value="assoc-degree">Associates Degree</option>
        <option value="col-degree">Bachelor's Degree</option>
        <option value="master">Master's Degree</option>
        <option value="phd">Doctorate Degree</option>
        <option value="not-list">I'd prefer not to list this</option>
      </select>
      <br>
      <label for="zip">Please enter your Zip Code</label>
      <input name="zip" type="number" class="form-control" placeholder="Your Zip Code">
      <br>
      <label for="dob">Please enter your date of birth</label>
      <input name="dob" type="date" class="form-control" placeholder="Your Zip Code">
      <br>
      <div class="input-group">
          <span class="input-group-btn">
              <span class="btn btn-primary btn-file">
                  Browse&hellip; <input type="file" name"profpic">
              </span>
          </span>
          <input type="text" class="form-control" readonly>
      </div>
      <span class="help-block">
          Please add your profile picture here
      </span>
      <br>
      <div>
        <button class="blue sign-up-submit">Finish Registration</button>
      </div>
    </div>
  </form>
  <br>
  <form id = "uploadForm"
     enctype = "multipart/form-data"
     action = "/api/photo"
     method = "post"
    >
    <input type="file" name="userPhoto" />
    <input type="submit" value="Upload Image" name="submit">
  </form>
</div>
