<head>
  <style>
    .btn-file {
      position: relative;
      overflow: hidden;
    }

    .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      background: red;
      cursor: inherit;
      display: block;
    }
    .container-fluid {
      background: #acedf3
    }

    input[readonly] {
      background-color: white !important;
      cursor: text !important;
    }

  </style>
</head>

<div class="container-fluid">
  <h2>Build Your Profile!</h2>
  <p><strong>Start building your profile here.  We'll use this information to match you with what you're looking for! In our Beta Version, we will only be collecting a couple of simple pieces of information from users to get the conversation going.  Later we will expand our profiles significantly.</strong></p>
  <p>  Of course, your information will always be kept confidential and will never be shared with any outside parties without your consent.</p>
  {{#if errors}}
  <div class="text-center" style="color:red" class="validation-error">
      {{errors}}
  </div>
  {{/if}}
  <hr>
  <form action="/user/profile" method="post" class="form-horizontal" >
    <div class="col-xs-3">
      <label for="role">Select what role you'd like to take</label>
      <select class="form-control" name="role" required>
        <option>Sperm donor</option>
        <option>Egg donor</option>
        <option>Gestational carrier</option>
        <option>Looking for a sperm donor</option>
        <option>Looking for an egg donor</option>
        <option>Looking for a gestational carrier</option>
        <option>I'm just curious!</option>
      </select>
      <br>
      <label for="educ">Select your education level</label>
      <select class="form-control" name="educ" required>
        <option>Some High School</option>
        <option>High School Degree</option>
        <option>Some College</option>
        <option>Associates Degree</option>
        <option>Bachelor's Degree</option>
        <option>Master's Degree</option>
        <option>Doctorate Degree</option>
        <option>I'd prefer not to list this</option>
      </select>
      <br>
      <label for="zip">Please enter your Zip Code</label>
      <input name="zip" type="number" class="form-control" placeholder="Your Zip Code" required>
      <br>
      <label for="dob">Please enter your date of birth</label>
      <input name="dob" type="date" class="form-control" placeholder="" required>
      <hr>
      <div>
        <button class="blue sign-up-submit">Finish Registration</button>
      </div>
    </div>
  </form>

  <form id =  "uploadForm"
     enctype =  "multipart/form-data"
     action =  "/api/photo"
     method =  "post"
     class = "form-horizontal col-xs-3"
  >
    <label for="userPhoto">Please select a file to use as your profile piture</label>
    <input type="file" name="userPhoto" class="form-control"/>
    <br>
    <input type="submit" value="Upload Image" name="submit">
  </form>
</div>
